<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>과일&채소 가격 조회 서비스</title>
</head>
<h1>과일&채소 가격 조회 서비스</h1>
<h3>조회할 품목을 선택해 주세요.</h3>
<body>
<div>
  <h4>전체 품목 조회 서비스</h4>
  <a href="/product?productType=fruit">과일류 전체 조회</a>
  <a href="/product?productType=vegetable">채소류 전체 조회</a>
</div>

<div>
  <h4>개별 가격 조회 서비스</h4>
  <form action="/product" method="get" id="productForm">
    <label for="productType">분류</label>
    <select name="productType" id="productType">
      <option value="fruit">과일</option>
      <option value="vegetable">채소</option>
    </select>

    <label for="productName">식료품 이름</label>
    <input type="text" id="productName" name="productName" placeholder="'식료품 이름을 입력해 주세요.'">
  </form>
  <button type="submit" form="productForm">검색</button>
</div>



</body>
</html>